@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/*Weights 400/700*/
/***Variables***/
/*Colours*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  background-color: #f4fafa;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: #7f9c9f;
  margin-top: 100px;
  letter-spacing: 10px;
}

.container {
  width: 820px;
  max-width: 80%;
  height: auto;
  background-color: white;
  padding: 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
}

.container__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.container__right {
  width: 100%;
  height: 80%;
  background-color: #00494d;
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container__title {
  font-size: 14px;
  color: white;
}

.container__title--grey {
  color: #7f9c9f;
}

.container__xs-title {
  font-size: 12px;
  color: #f4fafa;
}

.container__button {
  width: 110px;
  height: 45px;
  margin: 5px 0px;
  background-color: #fff;
  background-color: #00494d;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  font-family: inherit;
}

.container__button:hover {
  background-color: #f4fafa;
  color: #00494d;
}

.container #custom {
  width: 90px;
  height: 30px;
  background-color: #f4fafa;
  color: #7f9c9f;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
}

.container #people, .container #cost {
  font-family: inherit;
  font-size: inherit;
  font-weight: bolder;
  color: #00494d;
  max-width: 350px;
  width: 92%;
  height: 20px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f4fafa;
  text-align: right;
}

.container #people:focus, .container #cost:focus, .container #custom:focus {
  border: 2px solid #26c0ab;
}

.container button:focus {
  border: none;
  outline: none;
  background-color: #26c0ab;
  color: #00494d;
}

.container button:hover, .container #reset:hover {
  background-color: #7f9c9f;
  color: #00494d;
  outline: none;
  border: none;
}

.container #tip, .container #total {
  font-size: 45px;
  font-weight: 700;
  color: #26c0ab;
}

.container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #reset {
  width: 80%;
  background-color: #26c0ab;
  color: #00494d;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}

#error1 {
  color: red;
  font-size: 13px;
  display: none;
  float: right;
  margin-top: 0;
}

#error2 {
  color: red;
  font-size: 13px;
  display: none;
  float: right;
  margin: 0;
}

.error-border {
  border: 3px solid red;
}

.container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 0;
  text-align: center;
}

.container__title {
  margin: 10px 0px 5px 0px;
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
    padding: 40px 35px;
  }
  .container__right {
    max-width: 90%;
    height: 80%;
    background-color: #00494d;
    border-radius: 10px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .container__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  .container__buttons {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 475px) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
  }
  h1 {
    margin-top: 20px;
  }
  .container {
    max-width: 85%;
    padding: 30px;
  }
  .container #total, .container #tip {
    font-size: 35px;
  }
}
/*# sourceMappingURL=styles.css.map */